@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap');

:root {
    font-size: 16px;
    --brand-font: 'Dr Sugiyama', cursive;
    --primary: #e65245;
    --secondary: #000000;
    --tertiary: #F3A183;
    --white: #fefefe;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

main {
    width: 100vw;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .simran-wrap {
    padding: 40px 30px;
}

main .simran-title h1 {
    font-size: 5em;
    text-align: center;
    font-family: var(--brand-font);
    color: var(--primary);
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.13);
    margin: 20px auto 40px;
}

header {
    position: relative;
    background: #fefefe;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

header div {
    top: 10px;
    width: 90%;
}

header div .simran-brand {
    height: 70px;
}

header nav {
    background-color: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 170px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

header nav ul li {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
}

header nav ul li a {
    display: block;
    font-size: 2em;
    text-decoration: none;
    padding: 10px 0;
    font-family: var(--brand-font);
    text-align: center;
    color: var(--primary);
    font-weight: bold;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: var(--primary);
}

.simran-toggle-btn {
    display: block;
    position: fixed;
    z-index: 10;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.simran-toggle-btn .simran-bar {
    width: 30px;
    height: 2px;
    margin: 10px auto;
    background-color: var(--primary);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.simran-toggle-btn .simran-bar:nth-child(2) {
    width: 20px;
}

#simran-toggle:checked~nav {
    opacity: 1;
    visibility: visible;
}

#simran-toggle:checked~nav ul {
    top: 70px;
}

#simran-toggle:checked~nav ul li {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}

#simran-toggle:checked~nav ul li:nth-child(1) {
    -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}

#simran-toggle:checked~nav ul li:nth-child(2) {
    -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}

#simran-toggle:checked~nav ul li:nth-child(3) {
    -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}

#simran-toggle:checked~nav ul li:nth-child(4) {
    -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}

#simran-toggle:checked+label.simran-toggle-btn .simran-bar {
    background-color: red;
}

#simran-toggle:checked+label.simran-toggle-btn .simran-bar:nth-child(2) {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
}

#simran-toggle:checked+label.simran-toggle-btn .simran-bar:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

#simran-toggle:checked+label.simran-toggle-btn .simran-bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}



/* ********************************************************************************************************* */

/* Circular Menu Starts from here */


.circular-menu {
    position: fixed;
    bottom: 1em;
    z-index: 1000;
    right: 1em;
}

.circular-menu .floating-btn {
    display: block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);
    color: var(--white);
    text-align: center;
    line-height: 3.9;
    cursor: pointer;
    outline: 0;
}

.circular-menu.active .floating-btn {
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
    font-size: 1.3em;
    transition: transform .2s;
}

.circular-menu.active .floating-btn i {
    transform: rotate(-45deg);
}

.circular-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    background-color: var(--primary);
    transition: all .3s ease;
}

.circular-menu.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
}

.circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: var(--white);
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: var(--secondary);
    transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
    background-color: var(--secondary);
}

.circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
    transform: translate3d(1em, -7em, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-3.5em, -6.3em, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em, -3.2em, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-7em, 1em, 0);
}

/**
   * The other theme for this menu
   */

.circular-menu.circular-menu-left {
    right: auto;
    left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
    background-color: var(--tertiary);
}

.circular-menu.circular-menu-left:after {
    background-color: var(--tertiary);
}

.circular-menu.circular-menu-left.active .floating-btn i {
    transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(-1em, -7em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(3.5em, -6.3em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(6.5em, -3.2em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(7em, 1em, 0);
}

/* ************************************************************************************************* */

/* Double flow starts from here */

@media screen and (min-width: 720px) {

    .control-flow--take-shower {
        background: var(--secondary);
        height: 20vh;
        width: 100%;
        padding: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .control-flow--take-shower__child h1 {
        font-family: var(--brand-font);
        color: var(--primary);
        margin: 25px 0;
        font-size: 4.5em;
    }


    .skw-pages {
        overflow: hidden;
        position: relative;
        height: 100vh;
    }

    .skw-page {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .skw-page__half {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100vh;
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
    }

    .skw-page__half--left {
        left: 0;
        -webkit-transform: translate3d(-32.4vh, 100%, 0);
        transform: translate3d(-32.4vh, 100%, 0);
    }

    .skw-page__half--right {
        left: 50%;
        -webkit-transform: translate3d(32.4vh, -100%, 0);
        transform: translate3d(32.4vh, -100%, 0);
    }

    .skw-page.active .skw-page__half {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .skw-page__skewed {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 140%;
        height: 100%;
        -webkit-transform: skewX(-18deg);
        transform: skewX(-18deg);
        background: #000;
    }

    .skw-page__half--left .skw-page__skewed {
        left: -40%;
    }

    .skw-page__half--right .skw-page__skewed {
        right: -40%;
    }

    .skw-page__content {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-flow: column wrap;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 30%;
        color: #fff;
        -webkit-transform: skewX(18deg);
        transform: skewX(18deg);
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, -webkit-transform 1s;
        transition: transform 1s, opacity 1s;
        transition: transform 1s, opacity 1s, -webkit-transform 1s;
        background-size: cover;
    }

    .skw-page__half--left .skw-page__content {
        padding-left: 30%;
        padding-right: 30%;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }

    .skw-page__half--right .skw-page__content {
        padding-left: 30%;
        padding-right: 30%;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }

    .skw-page.inactive .skw-page__content {
        opacity: 0.5;
        -webkit-transform: skewX(18deg) scale(0.95);
        transform: skewX(18deg) scale(0.95);
    }

    .skw-page__heading {
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
    }

    .skw-page__description {
        font-size: 18px;
        text-align: center;
    }

    .skw-page__link {
        color: #FFA0A0;
    }

    .skw-page-1 .skw-page__half--left .skw-page__content {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-1.jpg");
    }

    .skw-page-1 .skw-page__half--right .skw-page__content {
        background: #292929;
    }

    .skw-page-2 .skw-page__half--left .skw-page__content {
        background: #292929;
    }

    .skw-page-2 .skw-page__half--right .skw-page__content {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg");
    }

    .skw-page-3 .skw-page__half--left .skw-page__content {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-2.jpg");
    }

    .skw-page-3 .skw-page__half--right .skw-page__content {
        background: #292929;
    }

    .skw-page-4 .skw-page__half--left .skw-page__content {
        background: #292929;
    }

    .skw-page-4 .skw-page__half--right .skw-page__content {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");
    }

    .skw-page-5 .skw-page__half--left .skw-page__content {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/img-test.jpg");
    }

    .skw-page-5 .skw-page__half--right .skw-page__content {
        background: #292929;
    }

}

@media screen and (min-width: 720px) {

    .control-flow {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }

    .control-flow__child--sticky-1 {
        background: var(--secondary);
        height: 100vh;
        width: 50%;
        position: sticky;
        top: 0;
        overflow: hidden;
        position: -webkit-sticky;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .control-flow--about h1 {
        font-family: var(--brand-font);
        color: var(--primary);
        font-size: 4.5em;
    }

    .control-flow__child-1 {
        background-color: var(--white);
        border-left: 18px double var(--secondary);
        width: 50%;
        height: 400vh;
    }

    .control-flow__child--sticky-2 {
        background: var(--primary);
        height: 100vh;
        width: 50%;
        position: sticky;
        top: 0;
        left: 50%;
        overflow: hidden;
        position: -webkit-sticky;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .control-flow__child-2 {
        background-color: var(--white);
        border-left: 18px double var(--primary);
        width: 50%;
        right: 50%;
        height: 400vh;
    }

    .control-flow--my-work h1 {
        font-family: var(--brand-font);
        color: var(--secondary);
        font-size: 4.5em;
    }
}

@media screen and (max-width: 719px) {


    .control-flow {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }

    .control-flow__child--sticky-1 {
        background: var(--secondary);
        height: 20vh;
        width: 100%;
        padding: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .control-flow--about h1 {
        font-family: var(--brand-font);
        color: var(--primary);
        margin: 25px 0;
        font-size: 4.5em;
    }

    .control-flow__child-1 {
        background-color: var(--white);
        width: 100%;
        height: 400vh;
    }

    .control-flow__child--sticky-2 {
        background: var(--primary);
        height: 20vh;
        width: 100%;
        padding: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .control-flow__child-2 {
        background-color: var(--white);
        width: 100%;
        height: 400vh;
    }

    .control-flow--my-work h1 {
        font-family: var(--brand-font);
        color: var(--secondary);
        margin: 25px 0;
        font-size: 4.5em;
    }

}

